#myImage {
    margin-top: 120px;
    margin-left: 120px;
    height: 350px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

#greeting {
    margin-top: 120px;
}

#aboutMeDiv {
    padding-bottom: 150px;
    background: url("../images/subtle_white_feathers.png");
    margin-bottom: 0;

}

.aboutMe {
    font-size: 18px;
}

.myWorkDiv {
    padding-top: 50px;
    padding-bottom: 120px;
    background: #64b5f6;
    margin-bottom: 0;
}

.divTitle {
    text-align: center;
    padding-bottom: 15px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

#contactMe {
    padding-top: 20px;
}

#contactMe {
    padding-bottom: 50px;
    box-shadow: 0 22px 22px -22px rgba(0, 0, 0, 0.8) inset,
    0 -22px 22px -22px rgba(0, 0, 0, 0.8) inset;
    margin-bottom: 0;
    background: url("../images/subtle_white_feathers.png");
}

#backToTop {
    color: black !important;
}

#name:focus,
#email:focus,
#phone:focus,
#message:focus {
    border-bottom: 1px solid #64b5f6;
    -webkit-box-shadow: 0 1px 0 0 #64b5f6;
    -moz-box-shadow: 0 1px 0 0 #64b5f6;
    box-shadow: 0 1px 0 0 #64b5f6;
}

.active {
    color: #64b5f6!important;
}

.brand-logo {
    margin-left: 15px;
    font-size: 24px;
    font-family: 'Playball', cursive;
    font-family: 'Yellowtail', cursive;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

.middle-indicator {
    position: absolute;
    top: 50%;
    z-index: -1;
    height: 75px;
}

.middle-indicator-text {
    font-size: 4.2rem;
}

a.middle-indicator-text {
    color: black !important;
}

.content-indicator {

    width: 85px;
    height: 85px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.indicators {
    visibility: hidden;
}

.card {
    margin-top: 80px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.carousel-item {
    background: url("../images/subtle_white_feathers.png");
}

#connectWithMe {
    padding-top: 100px;
    padding-bottom: 140px;
    margin-bottom: 0;
}

.connectImage {
    width: 100px;
    height: 100px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.connectImage:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}

.carousel {
    border-style: inset;
    border-width: 3px;
    border-color: black;
    height: 600px !important;
}

@keyframes appears {
    0% {
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}

.animated {
    animation: appears 2.5s
}

.img1 {
    background-image: url("../images/coding1.jpg");
}

.img2 {
    background-image: url("../images/coding2.jpg");
}

.img3 {
    background-image: url("../images/coding3.jpeg");
}

.img1,
.img2,
.img3 {
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ========== MOBILE STYLING ========== */

@media screen and (max-width: 1150px) {

    .card {
        margin-top: 30px;
    }
}


@media screen and (max-width: 1092px) {

    #myImage {
        margin-left: 80px;
    }
}

@media screen and (max-width: 1024px) {

    .carousel {
        height: 400px !important;
    }
}

@media screen and (max-width: 992px) {

    #myImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #aboutMeText {
        text-align: center;
    }
}

@media screen and (max-width: 812px) {

    .carousel {
        height: 430px !important;
    }

    .connectImage {
        width: 70px;
        height: 70px;
    }
}
