h1,
h2,
h3,
h4,
h5,
p {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #4A4E69;
}



#nav-mobile {
    font-family: 'Open Sans', sans-serif;
}

nav ul a {
    color: #4A4E69;
}

.brand-logo {
    color: #4A4E69 !important;
    margin-left: 15px;
    font-size: 24px;
    font-family: 'Yellowtail', cursive;
}

#slide-out li a {
    color: #4A4E69 !important;
}

.button-collapse {
    color: #4A4E69 !important;
}

.side-bar-background {
    color: #4A4E69;
    font-family: 'Yellowtail', cursive;
    font-size: 52px;
}

#myImage {
    margin-top: 75px;
    height: 300px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

#about-me-text {
    background-color: #bdbdbd;
    -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
    clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
    padding: 65px 10px;
}



.myWorkDiv {
    padding-top: 50px;
}

#connectWithMe {
    -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
    clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
    padding: 50px 0px 80px 0px;
    background-color: #bdbdbd;
}

.divTitle {
    text-align: center;
    padding-bottom: 15px;
    font-weight: bold;
}

#contactMe {
    padding-top: 20px;
}

#contactMe {
    padding-bottom: 50px;
    margin-bottom: 0;
}

#backToTop {
    color: black !important;
}

#name:focus,
#email:focus,
#phone:focus,
#message:focus {
    border-bottom: 1px solid #4A4E69;
    -webkit-box-shadow: 0 1px 0 0 #4A4E69;
    -moz-box-shadow: 0 1px 0 0 #4A4E69;
    box-shadow: 0 1px 0 0 #4A4E69;
}

#submitButton {
    border-style: solid;
    border-width: 1px;
    border-color: #4A4E69;
}

#submitButton:hover {
    background-color: #4A4E69 !important;
    color: white !important;
}

.active {
    color: #4A4E69!important;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

.middle-indicator {
    position: absolute;
    top: 50%;
    z-index: -1;
    height: 75px;
}

.movePrevCarousel {
    transform: translate(20%, -50%);
}

.moveNextCarousel {
    transform: translate(-20%, -50%);
}

.middle-indicator-text {
    color: black !important;
    font-size: 30px !important;
}

a.middle-indicator-text {
    color: black !important;
}

.content-indicator {
    width: 85px;
    height: 85px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.indicators {
    visibility: hidden;
}

.card {
    margin-top: 80px;
    -webkit-box-shadow: 0px 0px 30px -2px rgba(74, 78, 105, 1);
    -moz-box-shadow: 0px 0px 30px -2px rgba(74, 78, 105, 1);
    box-shadow: 0px 0px 30px -2px rgba(74, 78, 105, 1);
}

.carousel-item {
    background: white;
}

.connectImage {
    width: 100px;
    height: 100px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.connectImage:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}

.carousel {
    height: 600px !important;
}

@keyframes appears {
    0% {
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}

.animated {
    animation: appears 2.5s
}

.tools-I-use {
    background-color: #bdbdbd;
    -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
    clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
    padding: 50px 0px 80px 0px;
}

.tool-image-center {
    Padding-left: 50px;
    padding-right: 50px;
}

/* CSS FOR ANIMATED LETTERS */

.ml11 {
    font-weight: 900;
    font-size: 3.5em;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #4A4E69;
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}

.goodbye-animation {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* ========== MOBILE STYLING ========== */

@media screen and (max-width: 1150px) {

    .card {
        margin-top: 30px;
    }
}


@media screen and (max-width: 1092px) {

    #myImage {
        margin-left: 80px;
    }
}

@media screen and (max-width: 1024px) {

    .carousel {
        height: 420px !important;
    }
}

@media screen and (max-width: 992px) {

    #myImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #aboutMeText {
        text-align: center;
    }
}

@media screen and (max-width: 812px) {

    .carousel {
        height: 450px !important;
    }

    .connectImage {
        width: 70px;
        height: 70px;
    }

    .carousel-fixed-item {
        transform: translate(0%, 220%);
    }

    .movePrevCarousel {
        transform: translate(160%, 0%);
    }

    .moveNextCarousel {
        transform: translate(-160%, 0%);
    }

    .moveNextCarousel,
    .movePrevCarousel {
        visibility: hidden;
    }
}

@media screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
    .img1,
    .img2 {
        height: 600px;
        background-image: none;
    }

    .myWorkDiv {
        height: 850px;
    }

    #myWorkTitle {
        margin-top: 100px;
    }

    .tool-image-left {
        width: 90px;
    }

    .tool-image-center {
        width: 140px;
        Padding-left: 40px;
        padding-right: 40px;
    }
    .tool-image-right {
        width: 90px;
    }

    .letters {
        font-size: 36px;
    }
}

@media screen and (max-width: 360px) and (-webkit-min-device-pixel-ratio: 2) {
    .letters {
        font-size: 34px;
    }

}

@media screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    .brand-logo {
        font-size: 26px !important;
        margin-left: 0px
    }

    .connectImage {
        width: 50px !important;
        height: 50px !important;
    }

    .tool-image-left {
        width: 70px;
    }

    .tool-image-center {
        width: 130px;
        Padding-left: 40px;
        padding-right: 40px;
    }
    .tool-image-right {
        width: 70px;
    }

    .letters {
        font-size: 31px;
    }

}
