#myImage {
    margin-top: 120px;
    margin-left: 120px;
    height: 350px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}


#greeting {
    margin-top: 120px;
}

#aboutMeDiv {
    padding-bottom: 150px;
    background: url("../images/subtle_white_feathers.png");
    margin-bottom: 0;

}

.aboutMe {
    font-size: 18px;
}

.myWorkDiv {
    padding-top: 10px;
    padding-bottom: 80px;
    background: #64b5f6;
    box-shadow: 0 22px 22px -22px rgba(0, 0, 0, 0.8) inset,
    0 -22px 22px -22px rgba(0, 0, 0, 0.8) inset;
    margin-bottom: 0;

}

.divTitle {
    text-align: center;
    padding-bottom: 15px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

#contactMe {
    padding-top: 20px;
}

#contactMe {
    padding-bottom: 50px;
    box-shadow: 0 22px 22px -22px rgba(0, 0, 0, 0.8) inset,
    0 -22px 22px -22px rgba(0, 0, 0, 0.8) inset;
    margin-bottom: 0;
    background: url("../images/subtle_white_feathers.png");
}

#backToTop {
    color: black !important;
}

#name:focus,
#email:focus,
#phone:focus,
#message:focus {
    border-bottom: 1px solid #64b5f6;
    -webkit-box-shadow: 0 1px 0 0 #64b5f6;
    -moz-box-shadow: 0 1px 0 0 #64b5f6;
    box-shadow: 0 1px 0 0 #64b5f6;
}

.active {
    color: #64b5f6!important;
}

.brand-logo {
    margin-left: 10px;
    font-family: 'Playball', cursive;
    font-family: 'Titillium Web', sans-serif;
}

@media screen and (max-width: 1092px) {

    #myImage {
        margin-left: 80px;
    }
}

@media screen and (max-width: 992px) {

    #myImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #aboutMeText {
        text-align: center;
    }
}

#connectWithMe {
    padding-top: 100px;
    padding-bottom: 140px;
    margin-bottom: 0;
}

.connectImage {
    width: 100px;
    height: 100px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.connectImage:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}
